body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    max-width: 300px;
    margin: 3px;
}

h1 {
    font-size: 4em;
    letter-spacing: .4em;
    padding-top: .25em;
    padding-bottom: .1em;
}

h2 {
    font-size: 2em;
    padding-bottom: .1em;
}

h3 {
    font-size: 1.5em;
    padding-bottom: .1em;
}

main {
    display:grid;
    grid-template-columns: 80% 50%;
    margin-top: 3em;

}

header {
    text-align: center;
    margin: auto 2em;
}

section{
    margin: auto 1em 4em 2em;
}

i {
    margin-right: 1%;
}

p {
    margin: .2em;
}

hr {
    border: none;
    background-color:bisque;
    height: 1.5px;
}

h1,h2,h3 {
    font-weight: 110;
    margin-bottom: 0;
}
#mainLeft {
    border: 1.5px bisque;
}

